# Node modules
*/node_modules/
/.yarn
/node_modules
package-lock.json
yarn.lock

#KeystoneJS
packages/backend/.keystone/
packages/backend/db/
*.log

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
packages/*/node_modules/

# Build directories
packages/*/build/
packages/*/dist/

# Expo
packages/frontend_modules/
packages/frontend/.expo/
packages/frontend/.expo-shared/
packages/frontend/dist/
packages/frontend/npm-debug.*
packages/frontend/web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store


# Misc
.DS_Store
.env